<h1>Public::Quizzes#show</h1>
<p>Find me in app/views/public/quizzes/show.html.erb</p>

<%= @quiz.content %>
<%= @quiz.explanation %>
<%= @quiz.user.name %>

<%= link_to '編集', edit_quiz_path(@quiz) %>