<div class="top-box">
  <%= link_to  quizzes_seppa_path ,class: " mt-5 mx-5 d-flex" ,remote:true do %>
    <%= image_tag 'somosan1.png', class: "fade top-icon mx-auto" %>
    <!--<meta http-equiv="refresh" content=" 5; url=.html">-->
  <% end %></br>
  <%= link_to  quizzes_seppa_path ,class: " mt-5 mx-5 d-flex" ,remote:true do %>
    <!--<meta http-equiv="refresh" content=" 5; url=.html">-->
    <h3 class="mx-auto fade text-dark touch-comment">Touch!</h3>
  <% end %>
</div>


