// Place all the styles related to the public/quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cMain: #4FA5B5;
$cLightMain: #EDEFF2;
$cWhite: #FFFFFF;
$cDarkMain: #2c5c66;

$cAnswer: #F8D9F2;
$cLightAnswer: #f0dce3;


.quiz{
  &-content-textarea{
    min-height: 150px;
  }
  &-explaination-textarea{
    min-height: 200px;
  }
  &-content{
    background: $cWhite;
    padding: 1rem;
    border-radius: 7px;
    &-image{
      width: 100%;
    }
  }
  &-choice{
    background: $cWhite;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    &-true{
      background: $cLightAnswer;
    }
  }
  &-explanation{
    background: $cLightAnswer;
    padding: 1rem;
    border-radius: 7px;
  }
  &-author-icon{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
  }
}