<div class="top-box d-flex">
  <%= image_tag 'somosan0.png', class: "top-icon mx-auto" %>
</div>

<%= link_to 'とりあえず一問！' ,quizzes_random_select_path , class: "mbtn btn-1 mt-5"%>

<%= link_to '今日の五問！' ,today_quizzes_somosan_path , class: "mbtn btn-2 mt-4"%>
