<span class="yusei-magic-l pl-3 pt-3 mx-auto ">通知一覧</span>
<%= link_to '通知を全て既読にする', activities_read_path, class: "sbtn btn-1" %>
<% if @activities.present? %>
  <table class="table">
    <tbody>
      <% @activities.each do |activity| %>
      <tr>
      <td class="p-0">
        <%= link_to transition_path(activity) , class: "activity_link activity_#{activity.read}" do %>
          <%= render "public/activities/#{activity.action_type}", activity: activity%>
        <% end %>
      </td></tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>通知はございません。</p>
<% end %>

