<h4 class="yusei-magic pl-3 pt-3 mx-auto">出会った問い</h4>
<table class="table">
  <thead>
    <th class="yusei-magic">問題文</th>
    <th class="yusei-magic">正解数</br>/選択肢</th>
    <th class="yusei-magic">結果</th>
  </thead>
  <tbody>
    <% @results.each do |result| %>
    <tr>
      <td><%= result.quiz.content.truncate(10) %></td>
      <td><%= result.correct_count %> / <%= result.quiz.choices.count %> </td>
      <td>
        <% if result.content %>
          正解
        <% else %>
          不正解
        <% end %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>
