<h1>Admin::Users#index</h1>
<p>Find me in app/views/admin/users/index.html.erb</p>

  <table>
    <thead>
      <th></th>
      <th>ID</th>
      <th>ユーザー名</th>
      <th>管理権ステータス</th>
      <th>退会ステータス</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td></td>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td>
            <% if user.admin? %>
              管理者
            <% else %>
              ユーザー
            <% end %>
          </td>
          <td>
            <% if user.is_deleted? %>
              退会済み
            <% else %>
              在籍中
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


